/* COLOR PALETTE*/
:root {
  --primary-color: #fa9422;
  --secondary-color: #a32328;
  --background-color: #f8cc73;
  --text-color: #2e3238;
  --text-color-2: #fff;
}

/*PAGEPILING ONLY FOR INDEX.HTML*/

#pagepiling {
}
#slide-1 {
  background-image: url(../images/cliff-lide-1sample.jpg);
}
.section {
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER STYLES */

header img {
  height: 50px;
  margin: 20px;
}

#burger-button {
  width: 35px;
  height: 35px;
  background: linear-gradient(
    to bottom,
    #a32328,
    #a32328 20%,
    #f8cc73 20%,
    #f8cc73 40%,
    #a32328 40%,
    #a32328 60%,
    #f8cc73 60%,
    #f8cc73 80%,
    #a32328 80%,
    #a32328 100%
  );
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

#vertical-menu {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--primary-color);
  display: none;
}

#vertical-menu.show {
  display: block;
}

#vertical-menu a {
  background-color: var(--primary-color);
  color: #2b2c53;
  display: block;
  padding: 12px;
  text-decoration: none;
}

#vertical-menu a:hover {
  background-color: var(--background-color);
}

#vertical-menu a.active {
  background-color: var(--background-color);
  color: #2b2c53;
}

#vertical-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#close-menu-item {
  height: 40px;
}

#close-menu-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#close-menu-button:hover {
  opacity: 1;
  cursor: pointer;
}
#close-menu-button:before,
#close-menu-button:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--secondary-color);
}
#close-menu-button:before {
  transform: rotate(45deg);
}
#close-menu-button:after {
  transform: rotate(-45deg);
}

/* MAIN STYLES */

body h1 {
  font-family: Fuzzy Bubbles, sans-serif;
  font-size: 40px;
  text-align: center;
}

body {
  font-family: HindSiliguri-Regular, sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

main {
  font-size: 18px;
  margin: 0px auto;
  max-width: 1000px;
  color: var(--text-color);
}

footer {
  text-align: left;
  height: 300px;
  padding: 20px;
  justify-content: left;
  background-color: var(--primary-color);
  margin-top: 40px;
}

footer img {
  height: 50px;
}

/*ABOUT.HTML STYLES*/

#about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 1000px;
  opacity: 1;
}

.about {
  background-color: var(--secondary-color);
  color: var(--text-color-2);
  text-align: center;
  padding: 15px;
  margin: 0;
}

h2,
.team {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
}

/*CITIES.HTML and OTHERPLACES.HTML STYLES*/

.intro {
  text-align: center;
}

section.place {
  padding: 40px;
  min-height: 300px;
  margin-bottom: 40px;
  background-color: var(--secondary-color);
  color: var(--text-color-2);
}

section.place h2 {
  color: var(--text-color-2);
}

section.place p {
  margin-right: 15px;
}

section.place img {
  height: 300px;
}

section.place img.floatright {
  float: right;
  margin-left: 10px;
}

section.place img.floatleft {
  float: left;
  margin-right: 10px;
}

section.place a {
  color: var(--text-color-2);
}

section.place a:hover {
  font-weight: bold;
  color: var(--background-color);
}

/*CONTACT.HTML STYLES*/

.message {
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.alert {
  color: var(--secondary-color);
}

form {
  width: 600px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  padding: 6x 10px;
  line-height: 1.3;
}

form p.buttons {
  text-align: center;
}

form p.buttons button {
  width: 100px;
  height: 16px;
  padding: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-family: sans-serif;
}

input,
textarea {
  width: 100%;
  font-family: sans-serif;
  padding: 5px;
}
