/* COLOR PALETTE*/
:root {
  --primary-color: #ee9f46;
  --secondary-color: #a32328;
  --background-boxes: #f8cc73;
  --text-color: #2e3238;
  --background-color-2: #f9f1ab;
  --terciary-color: #fa9422;
  --third-background: #f5f1c7;
  --text-with-no-bg-color: #2e3238;
  --footer-text: #000;

  /* weather icons */
  --sun-color: #f6852f;
  --cloudsun-color: #e8c05c;
  --cloud-color: #989494;
  --rain-color: #709fde;
  --shower-color: rgb(101, 233, 191);
  --sun-bolt: #f1f146;
  --snow-color: #a5f8f8;
  --mist-color: #e290ecc0;
}

.clarfix {
  content: "";
  clear: both;
  display: table;
}
/*PAGEPILING ONLY FOR INDEX.HTML*/
#slide-1 {
  background-image: url(../images/ottawa-index.jpg);
}
#slide-2 {
  background-image: url(../images/toronto-index.jpg);
}
#slide-3 {
  background-image: url(../images/niagara-falls-index.jpg);
}

#slide-4 {
  background-image: url(../images/peterborough.jpg);
}

.section {
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* INDEX.HTML SLIDES STYLE */
.index-spacing-bottom {
  margin-bottom: 3rem;
}
.slide-content-1 {
  position: relative;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  padding: 3%;
  width: 35%;
  min-height: 10vh;
  text-align: center;
}

.slide-content-2 {
  position: relative;
  top: 50%;
  right: -55%;
  transform: translateY(-50%);
  padding: 3%;
  width: 35%;
  min-height: 10vh;
  text-align: center;
}

.slide-content-3 {
  position: relative;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  padding: 3%;
  width: 35%;
  min-height: 10vh;
  text-align: center;
}

.slide-content-4 {
  position: relative;
  top: 75%;
  left: -3%;
  transform: translateY(-50%);
  padding: 3%;
  width: 100%;
  min-height: 10vh;
  text-align: center;
}

.slide-content-1::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
  background-color: var(--third-background);
}

.slide-content-2::after {
  content: "";
  position: absolute;
  background-color: var(--third-background);
  inset: 0;
  z-index: -1;
  opacity: 0.7;
}

.slide-content-3::after {
  content: "";
  position: absolute;
  background-color: var(--third-background);
  inset: 0;
  z-index: -1;
  opacity: 0.7;
}

/* HEADER STYLES */

header img {
  height: 50px;
  margin: 20px;
}

.logo_fix {
  position: fixed;
  z-index: 9999;
  height: 10%;
}

#burger-button {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  background: var(--background-boxes);
}

#burger-button span {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

#burger-button:hover {
  background-color: var(--terciary-color);
  opacity: 0.8;
  box-shadow: 1px 1px 1px var(--text-color);
}

#vertical-menu {
  min-width: 10%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -40%;
  z-index: 9999;
  background-color: var(--primary-color);
  box-shadow: -2px 2px 1px var(--text-color);
  transition: all 1s;
}
.no_bg > p {
  color: var(--text-with-no-bg-color);
}
.no_bg > h1 {
  color: var(--text-with-no-bg-color);
}
form label {
  color: var(--text-with-no-bg-color);
}
.message_wrapper h1 {
  color: var(--text-with-no-bg-color);
}

#vertical-menu.show {
  right: 0;
}

#vertical-menu a {
  background-color: var(--primary-color);
  color: #2b2c53;
  display: block;
  padding: 12px;
  text-decoration: none;
}

#vertical-menu a:hover {
  background-color: var(--background-boxes);
}

#vertical-menu a.active {
  background-color: var(--background-boxes);
  color: #2b2c53;
}

#vertical-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#close-menu-item {
  height: 40px;
}

#close-menu-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#close-menu-button:hover {
  opacity: 1;
  cursor: pointer;
}
#close-menu-button:before,
#close-menu-button:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--secondary-color);
}
#close-menu-button:before {
  transform: rotate(45deg);
}
#close-menu-button:after {
  transform: rotate(-45deg);
}

/* MAIN STYLES */

body h1 {
  font-family: Fuzzy Bubbles, sans-serif;
  font-size: 45px;
  text-align: center;
}

body {
  font-family: HindSiliguri-Regular, sans-serif;
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
}

section h1 {
  width: 100%;
}
main {
  font-size: 18px;
  margin: 0px auto;
  max-width: 1000px;
  color: var(--text-color);
}

#index_main {
  max-width: 100vw;
}

footer {
  position: relative;
  text-align: left;
  height: 250px;
  padding: 20px;
  justify-content: left;
  background-color: var(--primary-color);
  margin-top: 80px;
  color: var(--footer-text);
}

footer img {
  height: 50px;
  margin-bottom: 15px;
}

footer h3 {
  margin-left: 50px;
}
#sns_wrapper {
  display: flex;
  list-style: none;
}

#sns_wrapper li{
  margin: 10px;
}
#sns_wrapper .sns_icons{
  font-size: 2.5em;
}
.right_content {
  position: absolute;
  float:right;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 20px;
}
.left_content {
  float:left;
}
/*ABOUT.HTML STYLES*/

#about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 1000px;
  opacity: 1;
}

.about {
  background-color: var(--background-boxes);
  color: var(--text-color);
  text-align: center;
  padding: 15px;
  margin: 0;
}

h2 {
  color: var(--secondary-color)
}

.team {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
}

/*CITIES.HTML and OTHERPLACES.HTML STYLES*/

.intro {
  text-align: center;
  font-size: 20px;
  padding: 0 5px 0 5px;
  margin-bottom: 80px;
}

section.place {
  padding: 40px;
  min-height: 300px;
  margin-bottom: 80px;
  background-color: var(--background-boxes);
  color: var(--text-color-2);
}

section.place h2 {
  color: var(--text-color-2);
}

section.place p {
  margin-right: 15px;
}

section.place img {
  height: 300px;
}

section.place img.floatright {
  float: right;
  margin-left: 15px;
}

section.place img.floatleft {
  float: left;
  margin-right: 15px;
}

section.place a {
  color: var(--text-color-2);
}

section.place a:hover {
  font-weight: bold;
  color: white;
}

.subpage-img {
  height: 280px;
}

/*CONTACT.HTML STYLES*/

.message,
.weatherTitle {
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.alert {
  color: var(--secondary-color);
}

form {
  width: 600px;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  padding: 6x 10px;
  line-height: 1.3;
}

form input,
form textarea {
  background-color: var(--background-color-2);
}

form p.buttons {
  text-align: center;
}

form p.buttons button {
  width: 100px;
  height: 16px;
  padding: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-family: sans-serif;
}

input,
textarea {
  width: 100%;
  font-family: sans-serif;
  padding: 5px;
}

#submit {
  font-family: HindSiliguri-Regular, sans-serif;
  height: 20px;
}
/* submission message style */
.largeMessage {
  font-size: 2em;
}

/*CITIES/PARKS SUBPAGES*/

#city-block {
  padding: 30px;
  background-color: var(--background-boxes);
}

.activities {
  padding: 20px;
}

/* weather style */
.weatherWrapper > * {
  margin: 0 auto;
  text-align: center;
}
.weather_data {
  display: block;
}
.fa-solid {
  font-size: 180px;
}
#cityName {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
}
#weather_data {
  opacity: 0;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#exIcon {
  text-align: center;
}
.iconBox {
  width: 50%;
  margin: 0 120px;
}
.iconBox img {
  align-content: center;
  width: 200px;
  height: 200px;
}
.forecastBox {
  width: 50%;
  padding: 30px;
}
/* weatherWrapper */
.weatherWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  width: 60vw;
  background-color: #f9f1ab;
  padding: 3rem;
  margin: 2rem;
  border-radius: 7px;
}
.weatherWrapper div {
  /* text-align: center; */
  font-size: 20px;
  margin-top: 10px;
}
.inputWrapper {
  display: flex;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}
.inputWrapper div {
  line-height: 5px;
}

.weather_data {
  display: inline-block;
  font-size: 18px;
  width: 15px;
  padding: 5px;
}

/* weather icon styling */
.fa-sun {
  color: var(--sun-color);
}
.fa-cloud-sun {
  color: var(--cloudsun-color);
}
.fa-cloud {
  color: var(--cloud-color);
}
.fa-cloud-sun-rain {
  color: var(--shower-color);
}
.fa-cloud-rain {
  color: var(--rain-color);
}
.fa-cloud-bolt {
  color: var(--sun-bolt);
}
.fa-snowflake {
  color: var(--snow-color);
}
.fa-smog {
  color: var(--mist-color);
}
/* Dark-mode */
#dark-button {
  position: relative;
  margin: 10px auto;
  width: 50px;
  min-height: 20px;
  border: 2px solid;
  border-radius: 160px;
  box-shadow: inset 0px 3px 3px;
  background-color: var(--background-boxes);
}
#dark-button .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  min-height: 20px;
  border: 2px solid;
  border-radius: 50%;
  transform: scale(1.1);
  box-sizing: border-box;
  box-shadow: inset 0px 1px 3px;
  background-color: var(--third-background);
  transition: all 1s;
}

#dark-button.active .toggle {
  left: 30px;
}

.white {
  color:#FFFFFF;
}

/* Responsive */
@media (max-width: 1024px) {
  .slide-content-1,
  .slide-content-3 {
    left: 0%;
    padding: 3%;
    width: 50vw;
  }
  .slide-content-2 {
    width: 50vw;
    left: 44%;
  }
}

@media (max-width: 912px) {
  #vertical-menu {
    right: -110%;
    min-width: 100%;
  }

  #vertical-menu ul a {
    text-align: center;
  }

  .slide-content-1,
  .slide-content-2,
  .slide-content-3 {
    left: 0%;
    padding: 3%;
    width: 94vw;
  }
}

@media (max-width: 768px) {
  .section {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .weatherContainer {
    display: flex;
    flex-direction: column;
  }
}
